.oForm{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.oForm textarea, input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.oForm textarea{
    resize: none;
    min-height: 100px;
}
.oForm input[type=checkbox]{
    transform:scale(1.7);
    opacity:0.9;
    cursor:pointer;
    margin-right: 5px;
}

.oBtnDiv{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.oForm button {
    background-color: #ccd9eb;
    font-max-size: 30px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.oForm button:hover {
    opacity: 0.8;
}