

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
a {
    text-decoration:none;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App{
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 30px;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btns{
    display: flex;
}

.post-enter{
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit{
    opacity: 1;
}
.post-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.page__wrapper{
    margin-top: 30px;
    display: flex;
}
.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current{
    border : 2px solid orange;
    font-weight: bold;
}
.container{
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
}
.header{
    width: 100%;
    vertical-align: center;
    background-color: #F6D8D1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    margin: 5px 0px 5px 0px;
    height: 45px;
    flex-direction: row;
    width: 200px;
}
.logo-link{
    padding: 0;
    margin: 0;
}
.logo-img{
    height: 100%;
    width: auto;
}

.navbar__links{
    display: flex;
    column-gap: 50px;
}
.navbar__links_item{
    text-decoration: none;
    color: #00419c;
    font-family: Inter, serif ;
    font-size: 20px;
    font-weight: normal;
}
.user__img{
    max-height: 150px;
    width: auto;
}